$boder-color               : #dbdbdb;
$white-color               : #fff;
$btn-nomal-hover           : rgba(0, 0, 0, 0.25);
$primary-color             : rgb(5, 120, 197);
$primary-color-hover       : rgba(53, 118, 161, 0.9);
$dangers-color             : rgb(245, 107, 107);
$dangers-color-hover       : rgba(245, 108, 108, 0.9);
$warning-color             : rgb(230, 162, 60);
$warning-color-hover       : rgba(230, 162, 60, 0.9);
$success-color             : rgb(103, 194, 58);
$success-color             : rgba(103, 194, 58, 0.961);
$text-color                : #303133;
$black                     : black;
$info-color                : #909399;
$background-color-base     : #f5f7fa;
$background-color-tag      : rgb(5, 120, 197);
$background-color-tag-hover: #c0c4cca1;

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }

    to {
        transform: scale(var(--growth-to));
    }
}